*{
    margin: 0;
    padding : 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
     'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items : center;
    background-color: rgb(255, 166, 0);
}
.calculator{
    margin-top : 10px;
    margin-bottom : 50px;
    height : 500px;
    border :1px solid #34ebe5;
    background-color: #34ebe5;
    padding : 30px;
    border-radius : 20px;
    box-shadow: 0px 3px 15px rgba(255, 105, 180, 1);
}
.row1 , .row2 , .row3 , .row4 ,.row5,.row6,
.input-class{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    margin-bottom :  20px;
    padding-right : 10px;
    width : 400px;
    border: none;
    height : 100px;
    border :1px solid #FF69B4;
    text-align : right;
    box-shadow: 0px 3px 15px rgba(244, 28, 175, 0.5);
    font-size : 4rem;
    cursor : pointer;
    color : black;

}
button{
   font-size : 2.5rem;
   height : 70px;
   width : 80px;
   margin-bottom : 10px;
   border-radius : 15px;
   box-shadow: 0px 3px 15px rgba(242, 28, 175, 0.5);
   border-style : none;
   cursor : pointer;
}
.equalToButton{
    background-color: #D95319
}
.operatorButton{
    background-color: #fcfc03;
}